# Python缓存
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
*.egg/

# 构建文件
build/
dist/
DesktopPet.spec

# 旧的压缩包
*.tar.gz
*.zip

# 数据文件
config/image_paths.json
config/settings.json

# 操作系统
.DS_Store
Thumbs.db
